.main_sidebar{
    width: 350px;
    float: left;
}
.sidebar{
    background: #e2ece9;
    box-shadow: 0 -20px 30px #9dbf9d inset;
    margin-bottom: 30px;
}
.sidebar_title{
    margin: 0;
    padding: 10px;
    background: #4d908e;
    color: #f1fff1;
    font-weight: lighter;
}
.sidebar>ul>li>a{
    padding: 5px 10px;
    color: #144551;
}
.sidebar>ul>li>a:hover{
    background: #9dbf9d;
}
.sidebar_comm-img{
    margin-bottom: 30px;
}
.sidebar_comm-img>a>img{
    width: 100%;
}
.sidebar_comm-txt a{
    padding: 5px 10px;
    color: #144551;
}
.sidebar_comm-txt{
    margin-bottom: 30px;
}
.sidebar_comm-txt ul li:nth-child(1)>a{
    border-right: 5px solid #f71836;
    background: #f3c9cf;
}
.sidebar_comm-txt ul li:nth-child(1):hover>a{
    background: #f71836;
    color: #f1fff1;
}
.sidebar_comm-txt ul li:nth-child(2)>a{
    border-right: 5px solid #184cf7;
    background: #c9ccf3;
}
.sidebar_comm-txt ul li:nth-child(2):hover>a{
    background: #184cf7;
    color: #f1fff1;
}